USE [master]
GO
/****** Object:  Database [TP6_Introducciónabasededatos]    Script Date: 11/7/2025 13:59:15 ******/
CREATE DATABASE [TP6_Introducciónabasededatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP6_Introducciónabasededatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP6_Introducciónabasededatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP6_Introducciónabasededatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP6_Introducciónabasededatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP6_Introducciónabasededatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP6_Introducciónabasededatos]
GO
/****** Object:  User [alumno]    Script Date: 11/7/2025 13:59:15 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Integrantes]    Script Date: 11/7/2025 13:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Integrantes](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Frase] [varchar](50) NOT NULL,
	[Hobby] [varchar](50) NOT NULL,
	[ProfeFav] [varchar](50) NOT NULL,
	[PeliculaFav] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Integrantes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
