@{
    ViewData["Title"] = "Login";
}

<div>

    @if(ViewBag.Error){
        <h1>Verifique su usuario y contraseña</h1>
    }
    <form action='@Url.Action("Login", "Home")' method="POST" enctype="multipart/form-data" required>

        Usuario: <input type="text" name="usuario" required><br/>
        Contraseña: <input type="text" name="contraseña" required>

        <input type="submit" value="Iniciar Sesión" />

    </form>

</div>
